#home-typed,
.typed-cursor {
	font-size: 40px;
}

.btn {
	font-size: 50px;
}

.form-field,
.form-btn {
	font-size: 30px;
}

#failure-msg:empty {
	display: none;
}

/* For the flash feedback messages */
ul.flashes {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.flashes li {
	color: red;
}


.small-btn {
    width: 200px; 
    height: 60px;
    font-size: 28px; 
}