{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block main
%}
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

<section class="pt-5">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-10 col-xl-8">
        <h1 class="display-6">Put your assumption to the test</h1>
        <p class="fs-md-1 mt-4">
          Make a poll. Choose your options. Ask amiwrong? Find out the answer
          and more.
        </p>
      </div>
    </div>

    <section class="pt-5">
      <div class="container">
        <div class="row align-items-center bg-dark text-light">
          <div class="col-md-6">
            <img src="" alt="" />
            <span id="home-typed"> </span>
          </div>
          <div class="col-md-6 col-xl-4 offset-xl-1">
            <div class="card box-shadow-rb my-4">
              <button type="button" class="btn btn-primary">amiwrong?</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div
      class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 mt-3 text-center mb-3"
    >
      <div class="col">
        <div
          class="card py-4 px-3 mt-3 h-100 box-shadow-all border-0 bg-dark text-light"
        >
          <div class="card-body">
            <img src="" alt="" class="img-fluid mb-3" />
            <h3 class="py-3">We Respect Your Privacy</h3>
            <p class="lead mb-0">
              No profile or poll data is shared with 3rd parties.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card py-4 px-3 mt-3 h-100 box-shadow-all border-0 bg-dark text-light"
        >
          <div class="card-body">
            <img src="" alt="" class="img-fluid mb-3" />
            <h3 class="py-3">Find Interesting Demographic Trends</h3>
            <p class="lead mb-0">
              See how responses differ between chosen demographic selectors, no
              matter how absurd.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card py-4 px-3 mt-3 h-100 box-shadow-all border-0 bg-dark text-light"
        >
          <div class="card-body">
            <img src="" alt="" class="img-fluid mb-3" />
            <h3 class="py-3">Rich Graphs</h3>
            <p class="lead mb-0">Grasp the data at a glance.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  var typed = new Typed("#home-typed", {
    strings: [
      "<i>Most</i> people prefer Stone Ocean to Golden Wind.",
      "<i>More</i> people in their 20s are vegan than other age groups.",
      "People with cats are <i>likelier</i> to enjoy pineapple on pizza",
    ],
    typeSpeed: 50,
    loop: true,
    backSpeed: 50,
  });
</script>

{% endblock %}
