{% extends "layout.html" %} {% block title %} My Profile {% endblock %} {% block
main %}

<!-- TODO : Use jinja loops to make options instead of manual html lines -->

<h1>Save Common Details For Future Polls</h1>
<small class="form-text text-muted"
  >This information will be provided to polls you participate in, without any
  identifiable info such as email or username. It only exists to save you time,
  all fields are optional! Choose the blank option if you no longer wish to
  share that detail.</small
>
<br />

<form action="/profile" method="post">
  <div class="form-group">
    <label for="age">Age</label>
    <input
      type="text"
      class="form-control"
      id="age"
      name="age"
      placeholder="Your age in years"
      value="{{ age }}"
    />
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <select class="form-control" id="country" name="country">
      {% for c in countries %}
        <option value="{{ c }}" {% if country == c %}selected{% endif %}>{{ c }}</option>
      {% endfor %}
    </select>
    
  </div>
  <div class="form-group">
    <label for="gender">Gender</label>
    <select class="form-control" id="gender" name="gender">
      {% for g in gender_options %}
        <option value="{{ g }}" {% if gender == g %}selected{% endif %}>{{ g }}</option>
      {% endfor %}
    </select>
  
  </div>
  <div class="form-group">
    <label for="sexuality">Sexuality</label>
    <select class="form-control" id="sexuality" name="sexuality">
      {% for s in sexualities %}
        <option value="{{ s }}" {% if sexuality == s %}selected{% endif %}>{{ s }}</option>
      {% endfor %}
    </select>
  
  <div class="form-group">
    <label for="politics">Politics</label>
    <select class="form-control" id="politics" name="politics">
      {% for p in politics_options %}
        <option value="{{ p }}" {% if politics == p %}selected{% endif %}>{{ p }}</option>
      {% endfor %}
  </select>
  
  </div>
  <div class="form-group">
    <label for="language">Language</label>
    <select class="form-control" id="language" name="language">
      {% for l in languages %}
        <option value="{{ l }}" {% if language == l %}selected{% endif %}>{{ l }}</option>
      {% endfor %}
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br />

<!-- to display flash messages -->
{% with messages = get_flashed_messages() %} {% if messages %}
<ul class="flashes">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %} {% endblock %}
