{% extends "layout.html" %}

{% block title %}
My Profile
{% endblock %}

{% block main %}

<h1>Save Common Details For Future Polls</h1>

<form action="/profile" method="post" class="pt-5 d-flex flex-column align-items-center">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto form-field" id="username" name="username"
            placeholder="Age" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto form-field" id="password" name="password" placeholder="Sex"
            type="text">
    </div>
    <button class="btn btn-primary form-btn" type="submit">Save Changes</button>
</form>

<!-- to display flash messages -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% endblock %}